<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>




<!-- Page content -->
<div class="w3-content" style="max-width:2000px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="https://lh3.googleusercontent.com/p/AF1QipPV5nQtD8uGsshHVYbU5egMFbh6cyhV2Np1CVBc=s680-w680-h510" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 ">
      <h3>Christ College, Irinjalakkuda</h3>
      <p><b></b></p>   
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Vimalawomencollege.jpg/250px-Vimalawomencollege.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32">
      <h3>Vimala College, Thrissur</h3>
      <p><b></b></p>    
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Panambilly.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 ">
      <h3>PM Govt College, Chalakkudy</h3>
      <p><b></b></p>    
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Colleges in Thrissur District</h2>
    <p class="w3-opacity"><i>We love study</i></p>
    <p class="w3-justify">പരുന്തിന്റെ കുഞ്ഞിനു നല്ല സുഖമില്ല. ഇതറിഞ്ഞ്‌ പരുന്തി സഹോദരി അവിടെയെത്തിയിട്ടു പറഞ്ഞു. “ചിലന്തിയാണ്‌ ഏറ്റവും നല്ല വൈദ്യന്‍. ഞാന്‍ പോയി അദ്ദേഹത്തെ കൂട്ടിക്കൊണ്ടു വരാം”
        അങ്ങനെ അവള്‍ ചിലന്തിവൈദ്യരുടെ അടുക്കലെത്തി. രോഗവിവരമൊക്കെ പറഞ്ഞതിനുശേഷം ചിലന്തി പറഞ്ഞു. “വീട്ടിലേക്കുള്ള വഴി പറഞ്ഞുതരൂ. ഞാന്‍ പിന്നാലെ എത്തിക്കൊള്ളാം.”

വഴി കേട്ടപാടെ ചിലന്തി പറഞ്ഞു. “ഓ അതാണു വഴി. അപ്പോള്‍ വരവു നടക്കുമെന്നു തോന്നുന്നില്ല.”

“അയ്യോ വൈദ്യരേ, അങ്ങനെ പറയരുതേ.”

“എന്തു ചെയ്യാനാ വരുന്നതില്‍ എനിക്കു സന്തോഷമേയുള്ളു

അങ്ങോട്ടുള്ള വഴിയില്‍ പക്ഷേ ഒരു കോഴി താമസിക്കുന്നുണ്ട. എന്നെയവള്‍ കൊത്തിത്തിന്നും.”

പരുന്തിന്റെ സഹോദരിക്കു പോകാനാവുമായിരുന്നില്ല. അവള്‍ ചിലന്തിയുടെ കാലു പിടിച്ചു. ഒടുവില്‍ അവളുടെ കണ്ണുനീരിനും നിര്‍ബന്ധത്തിനും വഴങ്ങി ചിലന്തി സമ്മതം മൂളി.

“ശരി താങ്കള്‍ പൊയ്ക്കോളൂ. താമസിയാതെ ഞാനെത്തിക്കൊള്ളാം.”


</p>
    

  
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">Powered by</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
